.Pk-Container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

#saved-pokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

#create-pokemon {
  margin-top: 10px;
  margin-bottom: 30px;
}
